/* REVIEWED - 17 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  font-weight: 100;
  src: url("../../assets/fonts/gilroy-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 200;
  src: url("../../assets/fonts/gilroy-ultra-light.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url("../../assets/fonts/gilroy-light.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../../assets/fonts/gilroy-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../../assets/fonts/gilroy-medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../../assets/fonts/gilroy-semi-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../../assets/fonts/gilroy-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url("../../assets/fonts/gilroy-extra-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: url("../../assets/fonts/gilroy-black.woff2") format("woff2");
}

@font-face {
  font-family: "Alama";
  font-weight: 400;
  src: url("../../assets/fonts/FFAlama-Regular.woff") format("woff");
}

@font-face {
  font-family: "Alama";
  font-weight: 700;
  src: url("../../assets/fonts/FFAlama-Bold.woff") format("woff");
}

@font-face {
  font-family: "AlamaO";
  font-weight: 400;
  src: url("../../assets/fonts/FFAlamaO-RegularO.woff") format("woff");
}

@font-face {
  font-family: "AlamaO";
  font-weight: 700;
  src: url("../../assets/fonts/FFAlamaO-BoldO.woff") format("woff");
}

@font-face {
  font-family: "Mufreh";
  font-weight: 400;
  src: url("../../assets/fonts/FFMufreh-Regular.woff") format("woff");
}

@font-face {
  font-family: "ShamelSansOne";
  font-weight: 300;
  src: url("../../assets/fonts/FFShamelSansOne-Light.woff") format("woff");
}

@font-face {
  font-family: "ShamelSansOne";
  font-weight: 400;
  src: url("../../assets/fonts/FFShamelSansOne-Normal.woff") format("woff");
}

@font-face {
  font-family: "ShamelSansOne";
  font-weight: 500;
  src: url("../../assets/fonts/FFShamelSansOne-Medium.woff") format("woff");
}

@font-face {
  font-family: "ShamelSansOne";
  font-weight: 700;
  src: url("../../assets/fonts/FFShamelSansOne-Bold.woff") format("woff");
}

@keyframes highlight {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@layer base {
  * {
    @apply border-border font-["Gilroy",_system-ui,_sans-serif];
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }

  html,
  body {
    @apply h-full scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  .highlight {
    &::before {
      animation-name: highlight;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-duration: 1s;
    }
  }

  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration,
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .font-stretch {
    font-family:
      "Gilroy",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
    font-stretch: 150%;
  }

  .section-padding-start {
    @apply pt-12 lg:pt-24 xl:pt-32;
  }

  .section-padding-end {
    @apply pb-12 lg:pb-24 xl:pb-32;
  }

  .section-padding-start-lg {
    @apply pt-24 lg:pt-32 xl:pt-48;
  }

  .section-padding-y-lg {
    @apply py-24 lg:py-32 xl:py-48;
  }

  .section-margin-start {
    @apply mt-12 lg:mt-24 xl:mt-32;
  }

  .section-gap {
    @apply gap-12 lg:gap-24 xl:gap-32;
  }

  .section-gap-sm {
    @apply gap-6 lg:gap-12 xl:gap-24;
  }

  .section-heading-highlight-primary-foreground {
    @apply before:!inset-y-[initial] before:-inset-x-2.5 before:!bottom-0 before:h-1/2 before:bg-primary/15 before:ring-primary-foreground;
  }

  .section-heading-highlight-primary {
    @apply before:!inset-y-[initial] before:-inset-x-2.5 before:!bottom-0 before:h-1/2 before:bg-primary-foreground/15 before:ring-primary;
  }
}
