# REVIEWED - 08
# dependencies
/node_modules
package-lock.json

# testing
/coverage

# next.js
/.next
/out

# production
/build

# misc
.DS_Store

# env files
.env
.env.*

# typescript
next-env.d.ts

# payload
payload-types.ts

# playwright
/playwright/.cache/
/playwright-report/
/blob-report/
/test-results/

certificates

public/sw*
public/swe-worker*
